.container {
	background-color: #1ccfaa;
	height: 80px;
	border-radius: 5px;
}




.submit-button {
	border-radius: 5px;
	background-color: blue;
	color: white;

}

#query {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 30px;
}

#search-term {
	margin-left: 75px;
	margin-right: auto;
	font-size: 16px;
	font-family: verdana;
}

#results p{
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
}

#thumbnail-img {
	border: 10px;
	border-radius: 5px;
}